/* Base Application Styles */
body {
  color: #000;
  /* background-image: url('../images/background.jpg'); */
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-attachment: fixed;
}

/* p{
  display:block;
} */

/* .index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
} */

/* .title{
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: #3c3c3c;
  margin: 10% 0 0 30%;
} */

/* .description{
  font-size: 2rem;
  text-align: center;
  margin: 48% 0 0 30%;
} */

.left{
  float:left;
  height:800px;
  text-align: center;
  background-color: #00b7ee;
}

/* .headline-main {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #3c3c3c;
  margin: 4.5% 0 0 44%;
} */

/* .main-content {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 0 44%;
} */

/* .index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
} */

.group-selector{
  width: 200px;
  height: 40px;
}

.Washer{
  /* width: 100%; */
  /* text-align: center; */
  background-color: rgb(245, 245, 245);
}

.affix-title{
  font-family: 'sans-serif';
  font-size: 60px;
  color: white;
}

.btn-change-user{
  width: 200px;
  height: 40px;
}

.washer-text{
  font-size: 15px;
}